@charset "UTF-8";
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.container {
  width: 100%;
  max-width: 960px; }

.btn-facebook {
  background: url(http://monterail.com/images/ico-facebook.png) left center no-repeat;
  line-height: 32px;
  font-size: 16px; }

.btn-twitter {
  background: url(http://monterail.com/images/ico-twitter.png) left center no-repeat;
  line-height: 32px;
  font-size: 16px; }

@media screen and (max-width: 900px) {
  .ill {
    display: none; } }

@media screen and (max-width: 630px) {
  #header {
    height: 150px;
    margin-bottom: 10px; } }
@media screen and (max-width: 400px) {
  #header hgroup {
    width: 100%; } }
#header hgroup li {
  float: left; }
  #header hgroup li:first-child, #header hgroup li:last-child {
    width: 32px; }
  #header hgroup li h1 {
    width: 151px; }
@media screen and (max-width: 630px) {
  #header hgroup h1 a {
    margin-top: 0; }
  #header hgroup li {
    margin-left: 5%;
    margin-top: 22px; }
    #header hgroup li h1 a {
      margin-left: 0; }
  #header hgroup .btn-twitter, #header hgroup .btn-facebook {
    margin-left: 5%;
    background: none; } }
  @media screen and (max-width: 630px) and (min-width: 365px) {
    #header hgroup li {
      margin-left: 7% !important; } }
@media screen and (min-width: 630px) {
  #header hgroup .btn-twitter, #header hgroup .btn-facebook {
    display: none; } }
@media screen and (max-width: 865px) {
  #header #main-nav {
    left: 0;
    float: right;
    width: 65.95745%; } }
@media screen and (max-width: 630px) {
  #header #main-nav {
    width: 100%; } }
@media screen and (max-width: 460px) {
  #header #main-nav li {
    margin-right: 30px; } }
@media screen and (max-width: 360px) {
  #header #main-nav li {
    margin-right: 15px;
    font-size: 13px; } }
@media screen and (max-width: 630px) {
  #header #main-nav ul {
    width: 100%;
    margin-left: 15%; } }
@media screen and (max-width: 560px) {
  #header #main-nav ul {
    margin-left: 12%; } }
@media screen and (max-width: 490px) {
  #header #main-nav ul {
    margin-left: 8%; } }
@media screen and (max-width: 490px) {
  #header #main-nav ul {
    margin-left: 12%; } }
@media screen and (max-width: 490px) {
  #header #main-nav ul {
    margin-left: 10%; } }
@media screen and (max-width: 405px) {
  #header #main-nav ul {
    margin-left: 10%; } }
@media screen and (max-width: 380px) {
  #header #main-nav ul {
    margin-left: 4%; } }

@media screen and (max-width: 400px) {
  #intro {
    height: auto;
    margin-bottom: 0; }
    #intro .intro {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      text-shadow: -2.8px 0.2px 0.1px whitesmoke; }
      #intro .intro h2.tk-adelle {
        margin-top: 10px !important;
        font-size: 19px !important; }
        #intro .intro h2.tk-adelle strong {
          font-size: 28px !important; }
      #intro .intro p {
        background: url("./Monterail · offshore Ruby on Rails development agency_files/home.png") 0 0 no-repeat;
        background-position: 20px -60px;
        margin-bottom: 30px;
        margin-top: -132px;
        padding-top: 132px; }
      #intro .intro ul {
        display: none; } }

@media screen and (max-width: 400px) {
  #teasers #works {
    padding-bottom: 37px;
    text-align: center;
    width: 100%; }
    #teasers #works figure {
      width: 91%; }
      #teasers #works figure img {
        width: 100%; }
    #teasers #works h3 {
      margin-left: 0; }
    #teasers #works p {
      width: 91% !important; }
      #teasers #works p.more {
        margin-left: 6%;
        text-align: center; }
        #teasers #works p.more a {
          text-align: center;
          margin-right: 0 !important;
          margin-left: 4%; }
  #teasers #blogs {
    width: 98%; }
    #teasers #blogs article aside figure {
      float: left; }
    #teasers #blogs article aside time {
      float: right;
      font-size: 13px; }
    #teasers #blogs article header {
      margin-top: 33px;
      font-size: 13px; }
    #teasers #blogs article .ruby {
      font-size: 8px !important; } }

@media screen and (max-width: 400px) {
  #testimonials {
    width: 98%;
    margin-top: -29px; }
    #testimonials .avatar {
      margin: -37px 0 0 215px; }
    #testimonials blockquote:before {
      margin: -0.4em 0 0 -72px;
      font: italic bold 84px/1 "Minion Pro", "minion pro", "minion", "Palatino", "Times New Roman", "Times", sans-serif; }
    #testimonials .testimonial {
      width: 98%;
      margin: 0 2% -14px; } }

@media screen and (max-width: 400px) {
  #footer {
    width: 100%;
    height: 257px;
    font-size: 14px; }
    #footer .foot a {
      display: block;
      text-align: left;
      margin-left: 5%;
      font-size: 16px;
      margin-bottom: 5px; }
    #footer .bonus span {
      opacity: 1 !important;
      top: 18px !important; } }
