//CLEARFIX

.clearfix:after
	content: "."
	display: block
	clear: both
	visibility: hidden
	line-height: 0
	height: 0

.clearfix
	display: inline-block
 
html[xmlns] .clearfix
	display: block

* html .clearfix
	height: 1%

// OVERWRITING MAIN.css

.container
	width: 100%
	max-width: 960px

.btn-facebook
	background: url(http://monterail.com/images/ico-facebook.png) left center no-repeat
	line-height: 32px
	font-size: 16px 
.btn-twitter
	background: url(http://monterail.com/images/ico-twitter.png) left center no-repeat
	line-height: 32px
	font-size: 16px 

// QUERIES	

.ill // HUSARIA IMG
	@media screen and (max-width: 900px)
		display: none

#header // LOGO WRAZ Z NAV'EM
	@media screen and(max-width: 630px)
		height: 150px
		margin-bottom: 10px
	hgroup
		@media screen and (max-width: 330px)
			width: 100%
		li
			float: left
			&:first-child,&:last-child
				width: 32px
			h1
				width: 151px
		@media screen and (max-width: 630px)
			h1 a
				margin-top: 0
			li
				margin-left: 5%
				margin-top: 22px
				h1 a
					margin-left: 0
			.btn-twitter, .btn-facebook
				margin-left: 5%
				background: none
			.btn-twitter
		@media screen and (min-width: 630px)
			.btn-twitter, .btn-facebook
				display: none // LOGO NAD NAV
	#main-nav // NAV
		@media screen and(max-width: 865px)
			left: 0
			float: right
			width: 65.957446808511%
		@media screen and(max-width: 630px)
			width: 100%
		li
			@media screen and(max-width:460px)
				margin-right: 30px
			@media screen and(max-width:360px)
				margin-right: 15px
				font-size: 13px
		ul
			@media screen and(max-width: 630px)
				width: 100%
				margin-left: 15%
			@media screen and(max-width: 560px)
				margin-left: 12%
			@media screen and(max-width: 490px)
				margin-left: 8%
			@media screen and(max-width: 490px)
				margin-left: 12%
			@media screen and(max-width: 490px)
				margin-left: 10%
			@media screen and(max-width: 405px)
				margin-left: 10%
			@media screen and(max-width: 380px)
				margin-left: 5%
#intro
	@media screen and (max-width: 400px)
		height: auto
		margin-bottom: 0
		.intro
			float:none
			width: 100%
			margin: 0 auto
			text-align: center
			text-shadow: -2.8px 0.2px 0.1px whitesmoke
			h2.tk-adelle // RED TEXT
				margin-top: 10px !important
				font-size: 19px !important
				strong

					font-size: 28px !important
			p
				background: url("./Monterail · offshore Ruby on Rails development agency_files/home.png") 0 0 no-repeat
				background-position: 20px -60px
				margin-bottom: 30px
				// THAT EXTENDS BG-IMAGE. ITS VISIBLE OUTSIDE P BLOCK!!!
				//  AWW MY GOD THAT CRAZY!!!!
				margin-top: -132px
				padding-top: 132px
			ul
				display: none
#teasers
	@media screen and (max-width: 400px)
		float: none
		#works
			text-align: center	
			width: 100%
			figure
				width: 91%
				img
					width: 100%	
			p
				width: 91% !important