.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.container {
  width: 100%;
  max-width: 960px; }

.btn-facebook {
  background: url(http://monterail.com/images/ico-facebook.png) left center no-repeat;
  line-height: 32px;
  font-size: 16px; }

.btn-twitter {
  background: url(http://monterail.com/images/ico-twitter.png) left center no-repeat;
  line-height: 32px;
  font-size: 16px; }

@media screen and (max-width: 330px) {
  #header hgroup {
    width: 100%; }
    #header hgroup li {
      float: left; }
      #header hgroup li:first-child, #header hgroup li:last-child {
        width: 32px; } }
@media screen and (max-width: 630px) {
  #header hgroup h1 a {
    margin-top: 0; }
  #header hgroup li {
    margin-top: 22px; }
  #header hgroup .btn-twitter, #header hgroup .btn-facebook {
    margin-left: 5%;
    background: none; } }
@media screen and (min-width: 630px) {
  #header hgroup .btn-twitter, #header hgroup .btn-facebook {
    display: none; } }
@media screen and (max-width: 900px) {
  .ill {
    display: none; } }

@media screen and (max-width: 865px) {
  #main-nav {
    left: 0;
    float: right;
    width: 65.95745%; } }
@media screen and (max-width: 630px) {
  #main-nav {
    width: 100%; } }
@media screen and (max-width: 460px) {
  #main-nav li {
    margin-right: 30px; } }
@media screen and (max-width: 360px) {
  #main-nav li {
    margin-right: 15px;
    font-size: 13px; } }
@media screen and (max-width: 630px) {
  #main-nav ul {
    width: 100%;
    margin-left: 15%; } }
@media screen and (max-width: 560px) {
  #main-nav ul {
    margin-left: 12%; } }
@media screen and (max-width: 490px) {
  #main-nav ul {
    margin-left: 8%; } }
@media screen and (max-width: 490px) {
  #main-nav ul {
    margin-left: 12%; } }
@media screen and (max-width: 490px) {
  #main-nav ul {
    margin-left: 10%; } }
@media screen and (max-width: 405px) {
  #main-nav ul {
    margin-left: 10%; } }
@media screen and (max-width: 380px) {
  #main-nav ul {
    margin-left: 5%; } }

@media screen and (max-width: 630px) {
  #header {
    height: 150px;
    margin-bottom: 10px; } }
